@font-face {
    font-family: "Myriad Pro";
    src: url(../font/MyriadProBold.ttf) format("truetype");
    font-weight:900;
}
@font-face {
    font-family: "Myriad Pro";
    src: url(../font/MyriadProRegular.ttf) format("truetype");
    font-weight:400;
}
@font-face {
    font-family: "Myriad Pro";
    src: url(../font/MyriadPro-Light.ttf) format("truetype");
    font-weight:100;
}
