* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.header {
  font-family: "Myriad Pro", sans-serif;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .search {
  display: flex;
  align-items: center;
  width: 72px;
  z-index: -1;
}
.header .search ul {
  display: flex;
  flex-direction: row;
}
.header .search img {
  width: 16px;
  margin: 10px;
}

.logo {
  display: flex;
  align-items: center;
  width: 60px;
  z-index: -1;
}
.logo .front {
  width: 60px;
  position: relative;
  z-index: 1;
}
.logo .bag {
  width: 45px;
  position: absolute;
  transform: translate(68%, 15%);
}
.logo .bag:before {
  content: "";
}

.box {
  display: flex;
  width: 100%;
}
.box .burger {
  width: 320px;
  height: 40px;
  background-color: #000;
  position: relative;
  color: white;
  text-align: center;
  display: none;
}
.box #toggle {
  display: none;
}
.box .input_header {
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  width: 100%;
  height: 50%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}
.box .burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: white;
  transition: 0.8s all;
}
.box .second, .box .third {
  top: 18px;
}
.box .fourth {
  top: 28px;
}
.box .burger_menu {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #000;
  transform: translateY(15%);
  max-height: 0;
  overflow: hidden;
  transition: 0.8s all;
}
.box .burger_menu a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  border-top: 1px solid #000;
}
.box .header_menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5%;
}
.box #toggle:checked ~ .burger_menu {
  max-height: 250px;
  font-size: 16px;
}
.box #toggle:checked ~ .first {
  display: none;
}
.box #toggle:checked ~ .second {
  transform: rotate(45deg);
}
.box #toggle:checked ~ .third {
  transform: rotate(-45deg);
}
.box #toggle:checked ~ .fourth {
  display: none;
}
.box .menu ul {
  display: flex;
  flex-direction: row;
}
.box .menu ul a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.box .menu ul a:hover {
  color: blue;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
}

.over {
  font-family: "Myriad Pro", sans-serif;
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  background: url("../img/Camada 3.png") no-repeat right;
  background-size: cover;
  height: 650px;
}
.over .hello {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 470px;
  margin: 0 auto;
  width: 100%;
}
.over .hello h4 {
  font-size: 80px;
  color: white;
  top: 300px;
  width: 100%;
  font-weight: 400;
}
.over .hello img {
  width: 100%;
}
.over .hello .details {
  background-color: black;
  width: 221px;
  height: 50px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 60px;
}

.slaider {
  font-family: "Myriad Pro", sans-serif;
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  width: 100%;
}
.slaider .snowboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  width: 100%;
}
.slaider .snowboard h4 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 400;
}
.slaider .snowboard p {
  font-size: 14px;
  margin-bottom: 30px;
}

.closed {
  position: relative;
  width: 20px;
  height: 20px;
}
.closed:before, .closed:after {
  position: absolute;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: black;
}
.closed:before {
  transform: rotate(45deg);
}
.closed:after {
  transform: rotate(-45deg);
}

.owl-carousel .item, .owl-theme .item {
  max-width: 200px;
}
.owl-carousel .arrow:before, .owl-theme .arrow:before {
  display: block;
  width: 100px;
  height: 100px;
  border: black solid 5px;
}

.owl-theme .owl-dots .owl-dot {
  display: none;
}

.extreme_text {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 140px;
  margin-top: 40px;
}

.owl-stage {
  margin: 100px;
  width: 100%;
}
.owl-stage .owl-item.active {
  opacity: 1;
}
.owl-stage .owl-item.active:nth-last-child(1) {
  opacity: 0.5;
}

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next {
  background: black;
  font-size: 0;
  display: block;
  position: relative;
  padding: 5px;
  margin: 30px auto;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  opacity: 0.5;
  cursor: pointer;
}
.owl-theme .owl-nav .owl-prev.owl-prev::after, .owl-theme .owl-nav .owl-prev.owl-next::after, .owl-theme .owl-nav .owl-next.owl-prev::after, .owl-theme .owl-nav .owl-next.owl-next::after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 90px;
  height: 90px;
  border-top: 5px solid #080903;
  border-left: 5px solid #080903;
}
.owl-theme .owl-nav .owl-prev.owl-prev::after, .owl-theme .owl-nav .owl-next.owl-prev::after {
  top: 20px;
  transform: rotate(-45deg);
}
.owl-theme .owl-nav .owl-prev.owl-next::after, .owl-theme .owl-nav .owl-next.owl-next::after {
  top: 10px;
  transform: rotate(140deg);
}
.owl-theme .owl-nav span {
  display: none;
}
.owl-theme .owl-nav .owl-prev {
  position: absolute;
  top: 40%;
  width: 10%;
  height: 90px;
  left: 0;
  margin-left: 20px;
}
.owl-theme .owl-nav .owl-prev:hover {
  background: none;
}
.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  width: 10%;
  height: 80px;
  right: 0;
}
.owl-theme .owl-nav .owl-next:hover {
  background: none;
}

.mountains {
  font-family: "Myriad Pro", sans-serif;
  padding: 0;
  flex: 1 0 auto;
  background: url("../img/bg image.png") no-repeat right;
  background-size: cover;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /*transform-style: preserve-3d;
   overflow-y: scroll;
   overflow-x: hidden;*/
}
.mountains .text {
  max-width: 930px;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}
.mountains .text h4 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
.mountains .text .offers {
  color: white;
  margin-top: 80px;
}
.mountains .text .offers_two {
  color: white;
  margin-top: 40px;
}

.features {
  font-family: "Myriad Pro", sans-serif;
  padding: 100px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}
.features .features_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0 80px 0;
}
.features .fear {
  font-size: 50px;
  font-weight: 400;
}
.features .gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.features .gallery__img {
  padding: 10px;
  width: 25%;
}
.features .gallery p {
  padding-top: 15px;
  font-size: 15px;
}

.footer {
  font-family: "Myriad Pro", sans-serif;
  background-color: black;
  flex-shrink: 0;
  font-weight: 400;
  padding: 0 15px;
}

.content-footer {
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding: 75px 0 67px;
}

.link_email {
  padding: 75px 50px 67px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.link a:hover {
  color: blue;
  opacity: 0.8;
}

.social_network img {
  width: 18px;
  margin: 60px 23px 0 0;
}

.data {
  font-size: 15px;
  text-decoration: none;
  width: 200px;
  margin-bottom: 60px;
}

.link a {
  display: inline-block;
  padding: 10px;
}

.link ul {
  padding: 0;
}

.footer_language {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.footer_form {
  position: relative;
}
.footer_form input {
  background-color: #ffffff;
  width: 222px;
  height: 41px;
  cursor: pointer;
}
.footer_form button {
  width: 59px;
  height: 40px;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translate(0, -50%);
  text-transform: uppercase;
  background-color: #c7c7c7;
}

.footer_language img {
  width: 14px;
}

h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

h5 {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.footer_language {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.footer_language p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.footer_language .footer_languageSelect {
  position: relative;
  cursor: pointer;
  width: 115px;
}
.footer_language .footer_languageSelect .change_region :checked ~ ul {
  display: inline-block;
}
.footer_language .footer_languageSelect .change_region {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: 15px;
}
.footer_language .footer_languageSelect .change_region input {
  display: none;
}
.footer_language .footer_languageSelect .change_region ul {
  display: none;
  position: absolute;
  left: 0;
  top: -5em;
  margin: 0;
  padding: 5px;
  list-style: none;
  border: 1px #fff solid;
  background: black;
}
.footer_language .footer_languageSelect .change_region ul li a img {
  width: 15px;
}
.footer_language .footer_languageSelect .change_region label span {
  width: 99px;
  font-size: 13px;
  color: white;
}
.footer_language .footer_languageSelect .change_region label img {
  margin-right: 3px;
  width: 15px;
  height: 11px;
}
.footer_language .footer_languageSelect ul {
  background-color: #ffffff;
  display: none;
  position: absolute;
  bottom: 20px;
  width: 100%;
  border-radius: 4px;
}
.footer_language .footer_languageSelect ul li {
  margin: 0;
  color: #000;
  padding: 0 10px;
}
.footer_language .footer_languageSelect ul li img {
  margin-right: 16px;
}
.footer_language .footer_languageSelect:active ul {
  display: block;
}

@media screen and (max-width: 780px) {
  .features {
    padding: 15px;
  }
  .features .gallery__img {
    width: 50%;
  }

  .footer .content-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-menu {
    width: 100%;
  }

  .link_email {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 66%;
    margin-bottom: 40px;
  }
  .link_email .news {
    width: 100%;
  }
  .link_email .footer .link_email .input {
    margin-bottom: 40px;
  }
  .link_email .social_network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
  }
  .link_email .footer_form {
    width: 222px;
  }
  .link_email img {
    margin: 0;
  }

  .footer_language {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 33%;
  }
  .footer_language ul {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .features .gallery__img {
    width: 100%;
  }

  .over .hello h4 {
    font-size: 45px;
    margin: 10px;
    text-align: center;
  }
  .over .hello .details {
    margin: 10px;
    height: 50px;
  }

  .slaider .snowboard {
    padding: 20px;
    text-align: center;
  }
  .slaider .snowboard p {
    font-size: 16px;
  }
  .slaider .snowboard h4 {
    font-size: 35px;
    padding-top: 30px;
    text-align: center;
    font-weight: 200;
  }
  .slaider .snowboard .closed:before, .slaider .snowboard .closed:after {
    display: none;
  }
  .slaider .extreme_text h4 {
    width: 60%;
    text-align: center;
    font-weight: normal;
  }
  .slaider .owl-theme .owl-nav .owl-next {
    right: 81px;
  }

  .mountains {
    background-image: none;
  }
  .mountains .text .mount {
    color: black;
    text-align: center;
    font-size: 32px;
  }
  .mountains .text .offers {
    color: black;
    margin-top: 30px;
  }
  .mountains .text .offers_two {
    color: black;
  }

  .features .fear {
    font-size: 30px;
  }

  .box {
    flex-direction: column-reverse;
    display: grid;
    justify-content: center;
  }
  .box .burger {
    display: contents;
  }
  .box .burger a:hover {
    color: blue;
  }
  .box .header_menu {
    display: none;
  }
  .box .menu {
    display: none;
  }
  .box .burger {
    opacity: 1;
  }

  .footer-menu {
    flex-wrap: wrap;
    padding: 75px 0 30px;
  }
  .footer-menu .link:first-child {
    width: 50%;
  }
  .footer-menu .link:nth-child(2) {
    width: 50%;
  }
  .footer-menu .link:last-child {
    width: 100%;
    margin-top: 30px;
  }

  .link_email .footer_form {
    width: 100%;
  }
  .link_email .footer_form input {
    width: 100%;
  }

  .footer_language {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .link_email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .link_email .social_network {
    width: 100%;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
